# Dependencies
node_modules/

# Build output
build/

# Logs and temp files
*.log
.DS_Store

# Settings file
SmartShapesSettings.txt

# Older versions
Versions/

FFX/Old/

Expressions/

# To remove cached folders type "git rm -r --cached ffx/old/"
# rm -f index.lock
# find .git -name "*.lock"